@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body, button, pre, textarea {
  font-family: 'Share Tech Mono', monospace;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
}

.mainContainer {
  display: flex;
  height: 100vh;
  max-height: 100vh;
}

.codePanel {
  display: flex;
  flex-direction: column;

  flex: 1 1 0;
  padding: 1em;
}

.codePanel textarea {
  flex-grow: 1;
  width: 100%;
}

.codePanel button {
  margin: 0 auto;
  width: 10em;
}

.machinePanel {
  display: flex;
  flex-direction: column;

  flex: 1 1 0;
  padding: 1em;
}

.machinePanel > * + * {
  margin-top: 0.5rem;
}

.machinePanel canvas {
  width: 384px;
  height: 384px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.cpuRegisters {
  display: flex;
  flex-direction: row;
}

.cpuRegisters > * + * {
  margin-left: 2rem;
}

.cpuRegisters strong {
  background-color: #E8E8E8;
}

.cpuError {
  color: #F00;
}

.machineMemory {
  flex-shrink: 1;
  overflow-y: scroll;
}

.machineMemory pre {
  margin: 0;
}
